/* メイン画面 */
.main-top {
  text-align: right;
  margin-top: 20px;
}

.post_button {
  display: inline-block;
  padding: 30px 20px;
  font-size: 20px;
  color: #fff;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 10px;
  position: fixed;
  top: 150px;
  right: 20px;
}

.book-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-contents>.title {
  font-size: 30px;
}

.book-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.book-lists>.list {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 1vw;
  background-color: #FFF;
}

.book-img-content {
  position: relative;
}

.book-img {
  border: 1px solid lightgray;
  width: 100%; 
  height: 35vh;
}

.book-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.book-title {
  font-size: 2.5vh;
  width: 100%;
}

.book-impression {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.book-category {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 20px;
}

.favorite-btn {
  display: flex;
  align-items: center;
}

.favorite-count {
  color: red;
  font-size: 23px;
  line-height: 1;
}

.book-title,
.book-impression,
.book-category,
.favorite-btn {
  height: 2rem;
}